/* Dashboard.css */

div {
    padding: 0.6em 1.2em;
    border-radius: 8px;
    margin: auto;
}

/* For larger screens or different layouts, 
   you can use media queries to change the number of columns: */

@media (min-width: 600px) {
    .items-box {
        grid-template-columns: repeat(2, 1fr); /* 2x2 layout when viewport >= 600px */
    }
}

.dashboard-main {
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr); /* 1x1 layout by default */
    gap: 1.2em;
    margin: 5em;
}
